.promo {
	min-height: 100vh;
	position: relative;
	background: url("../img/main_bg.jpg") no-repeat 50% / cover;
	padding-top: 310px;

	&__subtitle {
		position: relative;
		@include before_circle;
		padding-left: 10px;
		z-index: 2;
		&::before {
			right: 240px;
		}
	}
	&__wrapper {
		width: 100%;
		display: flex;
		justify-content: flex-end;
	}

	&__btns {
		display: flex;
		width: 270px;
		justify-content: space-between;
		align-items: center;
	}
	.title_fz48 {
		margin: 10px 0;
	}
	&__link {
		color: #fff;
		text-decoration: none;
		&:hover {
			color: #fff;
			text-decoration: none;
		}
	}
}
